body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;  
}
    
::-webkit-scrollbar-thumb{
    background: var(--laranja);
    height: 10px;
}
    
::-webkit-scrollbar-track {
    background: var(--preto);    
}

.titulo{
    font-family: 'arial-mt';
    color: var(--laranja);
    font-size: 40px;
    text-align: left;
    padding-top: 4%;
    padding-bottom: 3%;
}

.texto{
    color: var(--cinzaclaro);
    font-size: 24px;
}

.abryk-font{
    font-family: 'arial-mt';
}


